*{
    box-sizing: border-box;
}

.themes {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
}

.theme-button {
    padding: 8px 15px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    color: inherit;
    background-color: transparent;
    border: 1px solid #f9fafb;
    border-radius: 4px;
    cursor: pointer;
}

.theme-button:hover {
    opacity: 0.7;
}


.theme-button.active {
    border: 1px solid #4447e2;
}

.theme-button-light {
    color: #282b31;
    background-color: #f9fafb;
    border: 1px solid rgba(249, 250, 251, 0.5);
}

.theme-button-dark {
    color: #ffffff;
    background-color: #282b31;
    border: 1px solid #282b31;
}



body.dark {
    color: white;
    background-color: #131419;
}


.container{
    display: flex;
    align-items: center;
}

.caption {
    margin-top: 1.5%;/*15*/
    margin-right: 4%;/*60*/
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.all-inf{
    width:90%;
    border: 3px solid #fff; /* Белая рамка */
    height:100%;/*2270*/
    margin: 0 auto;
}

.all-inf:hover{
    outline: 2px solid #D3D3D3; /* Чёрная рамка */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.main-head{
    display:flex;
    width:98%;
    height:140px;/*140*/
}

.main-head-2{
    display:flex;
    width:98%;
    height:140px;
    padding-left: 40px; 
}

.main-head-2 a{
    margin-top:15px;
}

.main-item{
    color: #163152;
}

.main-item:hover{
    opacity: 0.5;
}

.all-inf:hover .main-head{
    margin:1%;
    background: #FFF5EE;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
}

.all-inf:hover .main-head-2{
    margin:1%;
    background: #FFF5EE;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

.main-head.active{
    margin:1%;
    background: #FFF5EE;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
}

.cat{
    background-color: transparent;
    margin-top:2%;
    margin-left:3%;
}

.main-nav{
    margin-left:10%;
    display:flex;
    list-style: none;
    align-items: center;
    column-gap:25%;/*80*/
    font-size:18px;
    margin-top:2%;/*15*/
}

.cart__num {
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left:-30px;
    margin-top:35px;
}

.basket{
    display:flex;
    column-gap:0px;
    align-items:start;
    padding-left:24%;/*не было*/
}

.corz{
    /*background-color: transparent;*/
    width:95px;/*95*/
    height:95px;/*95*/
    margin-left:70px;/*90*/
    margin-top:25px;
    padding:0;
    background: url('./img/corz.png');
    background-size: cover;
    border: none;
    cursor:pointer;
}

.account{
    background-color: transparent;
    margin-top:3.5%;/*43*/
    margin-left:4%;/*34*/
    margin-right:4%;
}

.food-img-1 {
    background:  url('img/ratat.png') no-repeat left 280px top 35px; /*#B4D1E0*/
    height:330px;/*330px*/
    width:1000px;/*1000*/
    margin:0 auto;
}

.food-img-1:hover{
    outline: 2px solid #D3D3D3; /* Чёрная рамка */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.food-img-2:hover{
    outline: 2px solid #D3D3D3; /* Чёрная рамка */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.main-h{
    font-size: 55px;
    line-height: 70px;
    font-family: 'Roboto Slab', serif;
    margin-top: 2%;/*20*/
    margin-bottom: 1%;/*15*/
}

.line-1{
    width: 26.5%;/*335*/
    height:2px;
    border-top: 2px solid #00C6BD;
    margin-top: -7px;
    margin-left:4.9%;/*27*/
}

.main-h{
    margin-left:5%;/*25*/
}

.food{
    font-size: 30px;
    margin-left:485px;
    font-family: 'Roboto Slab',
    serif;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top:10px;
}
.food-2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin-left:380px;
    padding-top:20px;
    margin-top: 25px;
}

.food-but-1{
    margin-left:70px;
    margin-top: 180px;
    width:100px;
}

body.dark .food-but-1{
    margin-left:70px;
    margin-top: 180px;
    width:100px;
    color:white;
    border-color: white;
}

.food-but-2{
    margin-left:70px;
    margin-top: 177px;
    width:100px;
}

body.dark .food-but-2{
    margin-left:70px;
    margin-top: 177px;
    width:100px;
    color:white;
    border-color: white;
}

.food-img-2 {
    background:  url('img/shash-1.png') no-repeat left 280px top 35px; /*#B4D1E0*/
    height:330px;
    width:1000px;
    margin:0 auto;
}

.corousel{
    position: relative;
}

.corousel ul{
    margin:0;
    padding:0;
    list-style: none;
}

.slide{
    position: absolute;/*из за этого всэ крашится*/
    opacity:0;
    inset:0;
    display:block;/**/
}

.slide[data-active]{
    opacity:1;
    z-index: 1;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    font-size: 4rem;
    background: none;
    border: none;
    top:130px;
    cursor: pointer;
    border-radius: 30%;
    padding:0 .5rem
}

.carousel-button:hover,
.carousel-button:focus{
    color:#D3D3D3;
}


.carousel-button.next{
    right: 2rem;
}

body.dark .next{
    color:white;
}

body.dark .prev{
    color:white;
}

.carousel-button.prev{
    left: 2rem
}

.main-h-2{
    font-size: 55px;
    line-height: 70px;
    font-family: 'Roboto Slab', serif;
    margin-top: 30%;/*400*/
    margin-left:5%;/*27*/
}

.line-2{
    width: 22.5%;/*265*/
    height:2px;
    border-top: 2px solid #00C6BD;
    margin-top: -7px;
    margin-left:4.9%;/*27*//
}

.eat-img-1{
    background:  url('./img/salat.png') no-repeat; 
    height:240px;/*240*/
    width:360px;/*360*/
    border-radius: 5% 5% 0% 0%;
}

.eat-img-1:hover{
    transform: scale(1.1);
}

.eat-img-2{
    background:  url('./img/soup.png') no-repeat ; 
    height:240px;/*240*/
    width:360px;/*360*/
    border-radius: 5% 5% 0% 0%;
}

.eat-img-2:hover{
    transform: scale(1.1);
}

.eat-img-3{
    background:  url('./img/meat.jpg') no-repeat ;
    height:240px;/*240*/
    width:360px;/*360*/
    border-radius: 5% 5% 0% 0%;
}

.eat-img-3:hover{
    transform: scale(1.1);
}

.eat-img-4{
    background:  url('./img/fish.png') no-repeat ;
    height:240px;/*240*/
    width:360px;/*360*/
}

.eat-img-4:hover{
    transform: scale(1.1);
}

.eat-img-5{
    background:  url('./img/dump.jpg') no-repeat ;
    height:240px;/*240*/
    width:360px;/*360*/
}

.eat-img-5:hover{
    transform: scale(1.1);
}

.eat-img-6{
    background:  url('./img/eggplant.png') no-repeat ;
    height:240px;/*240*/
    width:360px;/*360*/
}

.eat-img-6:hover{
    transform: scale(1.1);
}

.eat-img-7{
    background:  url('./img/pancakes.png') no-repeat ;
    height:240px;/*240*/
    width:360px;/*360*/
}

.eat-img-7:hover{
    transform: scale(1.1);
}

.eat-img-8{
    background:  url('./img/dessert.png') no-repeat ;
    height:240px;/*240*/
    width:360px;/*360*/
}

.eat-img-8:hover{
    transform: scale(1.1);
}

.eat-img-9{
    background:  url('./img/drink.png') no-repeat ;
    height:240px;/*240*/
    width:360px;/*360*/
}

.eat-img-9:hover{
    transform: scale(1.1);
}

.eat-h{
    color:white;
    position: absolute;
    margin-top:190px;
    background: rgba(153,182,195,.7);
    width:360px;/*360*/
    height:50px;/*50*/
    text-align: center;
    line-height:50px;
}



.eat{
    padding:0;
    margin:0;
    margin-top:50px;
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 3.4%;/*35*//*3.5*/
    row-gap: 35px;
    width:100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.all-food{
    display:flex;
    align-items: center;
    margin-top:35px;
    margin-left:63px;
    background:  rgba(153,182,195,.7);
    width:1152px;
    height:60px;
    justify-content: center;
}

.all-food a{
    color:white;
    text-decoration:none;
}

.foot{
    width:98%;
    height:500px;
    background: #61503e;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
    margin:0 auto;
    margin-top:40px;
}

.contact{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap:90px;
    padding-top:40px;
}

.btn-outline-secondary{
    color:white;
    border-color: white;
    margin:0;
    font-size: 30px;
}

.btn-outline-secondary:hover{
    color:black;
    border-color: black;
    background-color: white;
}

.cat-2{
    margin:0;
    padding:0;
}

.line-3{
    width: 800px;
    height:2px;
    border-top: 2px solid white;
    text-align: center;
    margin:0 auto;
    margin-top:40px;

}

.foot-news{
    display:flex;
    list-style: none;
    column-gap:110px;
    justify-content: center;
    color:white;
    margin-top:40px;
}

.foot-news h4{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.news-elem{
    list-style: none;
    padding: 0;
    line-height: 30px;
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
}

.overlay.show {
    display: flex;
}

.modal {
    background-color: #e0e0ff;
    min-width: 600px;
    max-height: 400px;
    padding: 30px;
    overflow: scroll;
    position: relative;
    display:block;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 15px;
}

.modal-close {
    position: absolute;
    background-color: transparent;
    right: 15px;
    top: 15px;
    font-size: 24px;
    border: none;
}

.modal-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-input {
    margin-right: 30px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    margin-bottom: 30px;
}

.cart-table {
    border-collapse: collapse;
    min-width: 540px;
    margin-bottom: 15px;
}

.cart-table th,
.cart-table td{
    text-align: left;
    border: 1px solid black
}

.cart-buy{
    background-color: #28a745;
    border-color: #28a745;
    display: block;
    margin-left: auto;
    height: 40px;
}


.mw-160 {
    max-width: 160px;
}


.col-price {
    width: 100px;
}

.col-minus {
    width: 15px;
}

.col-qty {
    width: 15px;
}

.col-plus {
    width: 15px;
}

.col-total-price {
    width: 120px;
}

.col-delete {
    width: 5px;
}


@media (max-width: 1200px) {
    .slide-1 {
        background-size: cover;
    }

    .card-3 {
        background-size: cover;
    }
}

@media (max-width: 992px) {
    .slider-nav {
        display: none;
    }

    .modal {
        min-width: 400px;
        max-height: 300px;
        padding: 20px;
    }

}

@media (max-width: 576px) {
    .slide-title {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 0;
    }

    .card {
        background-position: left top;
    }

    .card-4 {
        background-position: right top;
    }

    .card {
        padding: 30px;
        min-height: 300px;
    }

    .modal {
        min-width: 300px;
        max-height: 400px;
        padding: 20px;
    }

}



.up-button {
    position: fixed;
    z-index: 1;
    padding: 0;
    bottom: 75px;
    right: 20px;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.shown {
    display: inline-block;
}

.line-4{
    width: 265px;
    height:2px;
    border-top: 2px solid #00C6BD;
    margin-top: -7px;
    margin-left:27px;
    margin-bottom:30px;
}


.block{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width:96%;/*1240*/
    height:50%;/*100*/
    margin-left: 25px;
    background-color: #F8F8FF;
    padding-left:10px;
    padding-top:15px;
    display: flex;
    margin-bottom:30px;
}

.inf{
    padding-left:5%;
}

.block-h{
    font-family: 'Roboto Slab', serif;
    color:#163152;
}

.ratat{
    margin-top: -5px;
}

.salat {
    padding: 4px 8px;
    margin-top:20px;
    width:85px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.meat {
    padding: 4px 8px;
    margin-top:20px;
    width:67px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.pancakes {
    padding: 4px 8px;
    margin-top:20px;
    width:67px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.fish {
    padding: 4px 8px;
    margin-top:20px;
    width:67px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.soup {
    padding: 4px 8px;
    margin-top:20px;
    width:67px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.pelmen {
    padding: 4px 8px;
    margin-top:20px;
    width:103px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.zakusk {
    padding: 4px 8px;
    margin-top:20px;
    width:88px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.desert {
    padding: 4px 8px;
    margin-top:20px;
    width:93px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.visky-hesh {
    padding: 4px 8px;
    margin-top:20px;
    width:93px;
    height:35px;
    border-radius: 12px;
    color: #aaaaaa;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left:auto;
    margin-right:30px;
    margin-left:1%;
}

.cell-meat{
    width:6%;
    height:40%;
    border-radius: 12px;
    /*margin-left:auto;*/
    /*margin-right:-250px;*/
    margin-left:19%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-salat{
    width:6%;/*70*/
    height:40%;/*35*/
    border-radius: 12px;
    margin-left:16%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-fish{
    width:6%;
    height:40%;
    border-radius: 12px;
    margin-left:25%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-soup{
    width:6%;
    height:40%;
    border-radius: 12px;
    margin-left:36%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-pelmen{
    width:6%;
    height:40%;
    border-radius: 12px;
    margin-left:36%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-zakusk{
    width:70px;
    height:35px;
    border-radius: 12px;
    margin-left:21%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-pancakes{
    width:70px;
    height:35px;
    border-radius: 12px;
    margin-left:32%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-fond{
    width:70px;
    height:35px;
    border-radius: 12px;
    margin-left:35%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-visk{
    width:70px;
    height:35px;
    border-radius: 12px;
    margin-left:57%;
    margin-top:40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-items{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.filter {
    margin-top:20px;
    margin-right: 30px;
    display: flex;
    padding: 7px 22px 7px 12px;
    box-sizing: border-box;
    font-size: inherit;
    border: none;
    border-radius: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right 8px top 50%;
    background-size: 8px auto;
    background-color: #FFF5EE;
    color: #163152;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2317161a%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    box-shadow: 0 0 10px rgba(93, 92, 92, 0.5);
    
}

.filter:focus {
    outline-offset: 0;
}

body.dark .filter {
    color: #17161a;
    background-color: #9484f2;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2317161a%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

.dark-theme .filter:hover {
    background-color: #6653d9;
}

.dark-theme .filter:focus {
    outline-color: #6653d9;
}

.hidden {
    display: none;
}

.visky{
    margin-top: -5px;
    margin-right:30px;
}

.block-p{
    color:#163152;
    width:1000%;
}